#boostrap-overrides nav {
	font-family: Indie Flower;
	background-color: #f17c3f;
	background-color: transparent;
	border: none;
}

#boostrap-overrides a {
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}
#boostrap-overrides .navbar-brand{

	font-size: 3em;
}
body{
	background: url('img/hp2.jpeg') no-repeat center fixed;
	background-size: cover;
}
#info{

	display: inline-block;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	margin: 0 10% 10% 10%;
	z-index: 15;
	font-size: 2em;
	color: #0d0d0d;
	background-color: #cccccc;
	opacity: 0.4;
}

#footer{
	position: fixed;
	bottom: 10px;
	left: 50%;
	margin-left: -30px;
	color: black;
}