#boostrap-overrides nav {
	font-family: Indie Flower;
	background-color: #f17c3f;
	background-color: transparent;
	border: none;
}

#boostrap-overrides a {
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}
#boostrap-overrides .navbar-brand{

	font-size: 3em;
}
body{
	background: url('img/hp2.jpeg') no-repeat center fixed;
	background-size: cover;
}
#info{
	position: absolute;
	bottom:50%;
	left: 50%;
	
}

#footer{
	position: absolute;
	bottom: 10px;
	left: 50%;
	color: black;
}