

body{
	background-image: url('../img/cover.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#info{

	display: inline-block;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	margin: 0 10% 10% 10%;
	z-index: 15;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	box-shadow: 5px 8px rgba(0, 0, 0, 0.5);
}

#footer{
	 text-align: center;
	 width: 100%;
	
}

  @media screen and (min-width: 600px){ 


	
#footer{
	position: fixed;
	bottom: 10px;
}
}