#boostrap-overrides nav {
	font-family: Indie Flower;
	background-color: #f17c3f;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;

}

#boostrap-overrides a {
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}
#boostrap-overrides .navbar-brand{

	font-size: 3em;
}
#boostrap-overrides{
	background-color: #d39c75;
}

